//include _portfolio
// Portfolio
section#portfolio(style='padding-bottom: 0;\
/*background: #212226;*/\
background: rgba(0,0,0,.0001)\
')
    .isotope-filters
        .container
            .row
                // <div class="col-md-12">
                // <div class="vertical-heading">
                // &lt;!&ndash;                        <h5>Find Out Work</h5>&ndash;&gt;
                // <h2 style="margin: 60px 0 0 0; text-align: center; color: #fff;">Travel <strong>Gallery</strong></h2>
                // </div>
                // </div>
                .col-md-12
                    .margin-bottom-g(style='text-align: center;\
          /*background: rgba(0,0,0,.1)*/\
          ')
                        button.btn.btn-yellow.active-item.gallery-list-item(data-filter='all')
                            span All
                        button.btn.btn-yellow.gallery-list-item(data-filter='tropics')
                            span Tropics
                        button.btn.btn-yellow.gallery-list-item(data-filter='mountains')
                            span Mountains
                        button.btn.btn-yellow.gallery-list-item(data-filter='city')
                            span City
                        button.btn.btn-yellow.gallery-list-item(data-filter='desert')
                            span Desert
        // Portfolio items Wrapper
        section#portfolio-wrapper
            .container-fluid.center-pics
                .row.no-gutters
                    .isotope-filters
                        each vacation in vacations
                            .col-md-2.col-sm-6.col-xs-12.div-size.filter(class=vacation.type)
                                // Portfolio Item 01
                                .portfolio-item.portfolio-pic.no-underline
                                    //a(href=`img/portfolio/${vacation.imageCover}`, title='Add Description')
                                    a(href=`img/portfolio/${vacation.imageCover}`, data-title=`\
                                    <div class='show-button'><a href='/vacation/${vacation.slug}'><button class='btn btn-client-book btn-red'>${vacation.name} getaway</button></a><p style="margin-top: 20px; font-size: 16px; font-weight: 700;">$${vacation.price} / person</p><hr><p style="font-size: 14px;"><b>${vacation.duration}</b> day trip in the ${vacation.type} - ${vacation.maxGroupSize} max group size - flight included</p><hr><p style="font-size: 14px;">${vacation.summary}</p><hr><a href='#' target='_blank'><button class='btn btn-social-i btn-instagram'><i class='fa fa-instagram'></i></button></a><a href='#' target='_blank'><button class='btn btn-social-i-f btn-facebook'><i class='fa fa-facebook'></i></button></a><a href='#' target='_blank'><button class='btn btn-social-i-t btn-twitter'><i class='fa fa-twitter'></i></button></a></div><hr>\
                                    `)
                                        img.img-responsive(src=`img/portfolio/${vacation.imageCover}`, alt='portfolio 01')
                                        .portfolio-item-overlay.margin-top-g
                                            .portfolio-item-details.text-center
                                                // Item Header
                                                h3= vacation.name
                                                // Item Strips
                                                span
                                                // Item Description
                                                p= vacation.type